.form-login {
    text-align: center;

    h6 {
        color: #A7A0C1;
    }

    .form-control {
        background: #3B2F66;
        border-color: #726D9B;
        color: white;
        padding-left: 2.5rem;

        &::placeholder {
            color: #5C4F8E;
        }

        &[type="tel"] {
            background: #3B2F66 url('../img/append-input-tel.svg') no-repeat left .5rem center/1.5em 1.5em;
        }

        &[type="password"] {
            background: #3B2F66 url('../img/append-input-pass.svg') no-repeat left .5rem center/1.5em 1.5em;
        }
    }

    .btn {
        color: $body-bg;
        font-weight: bold;

        &-submit {
            background: url('../img/bg-btn-submit.svg') repeat-x left top/auto 100%;
        }

        &-register {
            background: url('../img/bg-btn-submit.svg') repeat-x left top/auto 100%;
        }
    }
}