header {
  background-color: $header-bg;

  .fa-stack {
    font-size: .75em;
    color: #00c300;

    i {
      vertical-align: middle;
    }
  }

  .header {
    &-top {
      color: #A7A0C1;
    }

    &-brand {
      display: block;
      text-align: center;

      img {
        max-width: 204px;

        @include media-breakpoint-up(xl) {
          max-width: 440px;
        }
      }
    }

    &-toggler {
      background-color: transparent;
      border-width: 0;

      @include media-breakpoint-up(xl) {
        display: none;
      }
    }

    &-info {
      min-width: 36px;
    }

    &-text {
      font-size: 0.875rem;

      @include media-breakpoint-up(xl) {
        width: 313px;
        margin-bottom: 10px;
      }
    }

    &-at {
      @include media-breakpoint-up(xl) {
        display: inline-flex;
        align-items: center;
        border-radius: $border-radius;
        padding: .25rem .75rem;
        font-size: 1.25rem;
        background-color: #3B2F66;

        img {
          margin-right: 0.5rem;
        }
      }
    }

    &-form {
      @include media-breakpoint-up(xl) {
        width: 313px;
      }

      .form-control {
        padding-left: 2.5rem;
        border-color: #726D9B;
        color: white;

        &::placeholder {
          color: #5C4F8E;
        }

        &[type="tel"] {
          background: #3B2F66 url('../img/append-input-tel.svg') no-repeat left .5rem center/1.5em 1.5em;
        }

        &[type="password"] {
          background: #3B2F66 url('../img/append-input-pass.svg') no-repeat left .5rem center/1.5em 1.5em;
        }
      }

      .btn {
        color: $body-bg;
        font-weight: bold;

        @include media-breakpoint-up(xl) {
          min-width: 118px;
        }

        &-submit {
          background: url('../img/bg-btn-submit.svg') repeat-x left top/auto 100%;
        }

        &-register {
          background: url('../img/bg-btn-submit.svg') repeat-x left top/auto 100%;
        }
      }
    }
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    z-index: $zindex-sticky;


    >.container {
      background-color: $navbar-bg;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 15px;
        width: 100%;
        height: 100%;
        background-color: $navbar-bg-dark;
        z-index: -1;
      }

      &::before {
        left: calc(-100% + 15px);
      }

      &::after {
        content: '';
        right: calc(-100% + 15px);
      }
    }

    &-brand {
      margin-right: 0;
    }

    &-toggler {
      border-width: 0;
      padding: 0.25rem;

      &:focus {
        outline-width: 0;
      }

      &[aria-expanded="false"] {
        .navbar-toggler-icon {
          background-image: url('../img/bar.svg') !important;
        }
      }

      &-icon {
        background-image: url('../img/bar.svg') !important;

        &.icon-close {
          background-image: url('../img/close.svg') !important;
        }
      }
    }

    &-collapse {
      @include media-breakpoint-down(lg) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
        overflow-y: auto;
        visibility: hidden;
        background-color: $navbar-collapse-bg;
        transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        z-index: $zindex-fixed;

        &.open {
          visibility: visible;
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }

        .header {
          &-toggler {
            position: absolute;
            top: 30px;
            right: 20px;
          }

          &-form {
            padding-bottom: 40px;
            border-bottom: 1px solid #383838;
            color: #A7A0C1;
          }
        }
      }

      &-header {
        margin-bottom: 40px;
      }

      &-logo {
        display: block;
        margin: 0 auto;
        max-width: 204.85px;
      }

      .list-social {
        list-style: none;
        padding-top: 40px;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        font-size: 2.125rem;
        border-top: 1px solid #383838;

        li:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }

    &-nav {
      padding: 35px 0;

      @include media-breakpoint-up(xl) {
        padding: 0;
      }
    }
  }

  .nav {
    &-item.active>.nav-link {
      font-weight: bold;
      position: relative;
      color: $primary;

      @include media-breakpoint-up(xl) {
        color: #1B133A;
        background-color: #DB9A16;
      }
    }

    &-link {
      font-size: 2.125rem;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      color: #A6A6A6;

      @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
        padding: 1rem 1.75rem !important;
        color: #2C1E54;
      }
    }
  }
}