#indexPage {
  .promotion {
    &-link {
      padding: 0 5px;
      margin-bottom: 10px;

      img {
        border: 1px solid transparent;
        @include transition($transition-base);
      }

      @include hover {
        img {
          border-color: $primary;
          @include transition($transition-base);
        }
      }
    }
  }
}